/* Colores */
$black: #000000;
$outer-space: #454545;
$silver: #A2A2A2;

$france: #3C91E6;
$jeans: #5FA5EA;
$blue: #82B9EF;

$secondary-button: #4CA866;
$secondary-button-hover: #9DCFAB;
$pastel-gray: #BDDFC7;

$flame: #E4572E;
$red: #E87554;
$pink: #F2B2A0;

$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

$white: #FFF;
$spanish-grey: #989797;
$isabeline: #EEEDED;

/* Fuente alternativa */
$roboto: "Roboto", sans-serif;

/* Font Sizes */

$medium: 16px;
$large: 18px;
$x-large: 30px;
$xx-large: 40px;
$xxx-large: 70px;

