/* Abstracts */
/* Colores */
/* Fuente alternativa */
/* Font Sizes */
/* Vendors  */
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #000000;
}

* {
  font-family: "PT Mono", monospace;
}

/* Layout */
/* Colores */
/* Fuente alternativa */
/* Font Sizes */
.header {
  display: flex;
  clear: both;
  max-width: 90%;
}
.header__img--1 {
  width: 1140px;
  z-index: 1;
}
.header__title {
  font-size: 70px;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-left: 4rem;
  font-weight: 300;
}
.header__box {
  width: 100vw;
}
.header__box--1 {
  background-color: #F1DD7B;
  width: 11rem;
  height: 11rem;
  z-index: 1;
  position: relative;
  top: 24rem;
  right: 18rem;
}
.header__box--2 {
  background-color: #E4572E;
  width: 11rem;
  height: 11rem;
  z-index: 2;
  position: relative;
  top: 11rem;
  right: 20rem;
}
.header__box--3 {
  background-color: #FFF;
  position: relative;
  display: flex;
  top: 1.9rem;
  left: -54rem;
  height: 11rem;
  width: 35.8rem;
  text-align: start;
}
.header__box--3-title {
  padding-left: 3rem;
  padding-top: 2rem;
  font-size: 40px;
  font-weight: 600;
}
.header__box--3-subtitle {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* Colores */
/* Fuente alternativa */
/* Font Sizes */
.nav {
  height: 10rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
}
.nav__logo {
  padding-right: 6rem;
}
.nav__logo-img {
  width: 4rem;
}
.nav__item {
  font-size: 20px;
  font-weight: x-large;
}
.nav__item-link {
  padding: 2rem;
  text-decoration: none;
  color: #989797;
}
.nav__item-link:hover {
  color: #000000;
}

/* Colores */
/* Fuente alternativa */
/* Font Sizes */
.footer {
  max-width: 100%;
  clear: both;
}
.footer__info {
  padding: 6rem;
}
.footer__info-title {
  width: 46%;
  font-size: 40px;
  padding-bottom: 2rem;
}
.footer__info-subtitle {
  width: 26%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.footer__box {
  width: 100vw;
}
.footer__box--4 {
  background-color: #5FA5EA;
  height: 20rem;
  width: 38rem;
  position: relative;
  top: -23.9rem;
  right: -35.5rem;
  z-index: 3;
}
.footer__box--5-img {
  z-index: 4;
  position: relative;
  max-width: 14%;
  rotate: 90deg;
  top: -40.5rem;
  right: -66rem;
}
.footer__box--6-img {
  position: relative;
  z-index: 2;
  top: -50.7rem;
  left: 73.5rem;
  height: 24rem;
}
.footer__box--7-img {
  position: relative;
  height: 18rem;
  width: 36rem;
  top: -72rem;
  right: -32rem;
  z-index: 4;
}

/* Components  */
/* Colores */
/* Fuente alternativa */
/* Font Sizes */
.nav__button {
  display: flex;
  margin-left: auto;
}
.nav__button--login {
  background-color: transparent;
  color: #989797;
  border-color: #989797;
  border-width: 1px;
  padding: 0.8rem;
}
.nav__button--login:hover {
  color: #454545;
  border-color: #454545;
}
.nav__button--signup {
  background-color: #4CA866;
  margin-left: 1.5rem;
  color: #EEEDED;
  border: none;
  padding: 0.8rem;
}
.nav__button--signup:hover {
  background-color: #9DCFAB;
  color: #989797;
  border: none;
}

/* Pages */
/* Themes  */

/*# sourceMappingURL=style.css.map */
