@use '../abstracts/mixins';

.header {
    display: flex;
    clear: both;
    max-width: 90%;

    &__img {
        &--1 {
            width: 1140px;
            z-index: 1;
        }
    }

    &__title {
        font-size: $xxx-large;
        padding-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-weight: 500;
    }

    &__subtitle {
        font-family: $roboto;
        font-size: $x-large;
        padding-left: 4rem;
        font-weight: 300;
    }

    &__box { 
        width:100vw;    
        &--1 {
            background-color: $buff;
            width: 11rem;
            height: 11rem;
            z-index: 1;
            position: relative;
            top: 24rem;
            right: 18rem;
        }

        &--2 {
            background-color: $flame;
            width: 11rem;
            height: 11rem;
            z-index: 2;
            position: relative;
            top: 11rem;
            right: 20rem;
        }

        &--3 {
            background-color: $white;
            position: relative;
            display: flex;
            top: 1.9rem;
            left: -54rem;
            height: 11rem;
            width: 35.8rem;
            text-align: start;

            &-title {
                padding-left: 3rem;
                padding-top: 2rem;
                font-size: $xx-large;
                font-weight: 600;
            }

            &-subtitle {
                padding: 1rem;
                font-family: $roboto;
                font-size: $large;
            }
        }

    }
}